body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:bisque;
  }
  
  .container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
  }
  
  button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-wrap: break-word; /* Added to prevent long text from overflowing */
  }
  
  .delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #c0392b;
  }
  #name{
    position: fixed;
    bottom: 0;
    right: 0;
  }
  